<% content_for :title, "Editing student" %>

<%= render "form", student: @student %>

<br>

<div class="text-center">
  <%= link_to "Show this Student", @student, class: "btn btn-outline-primary ms-2" %>
</div>
